.position{
       background: red;
       position: relative;
       width: 250px;
       height: 250px;
       display: inline-block;
}
.color {background:#800080;
       position: relative;
       width: 150px;
       height: 150px;
       display: inline-block;
       left: 3em;
       top:2.5em;
}
.other{
  background: yellow;
  position: relative;
  width: 75px;
  height: 75px;
  left: 3em;
  bottom: 7.1em;
}
.dosposition{
  background: blue;
  width: 250px;
  height: 250px;
  margin-top: 1em;
}
.doscolor{
  background:green;
  width:120px;
  height: 120px;
  position: relative;
  left:4.1em;
  top:4em;
}
.dosother{
  background:black;
  width: 65px;
  height: 65px;
  bottom: 120px;
  position: relative;
}
